.background_container{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #000;
    opacity:0.4;
}

.msg_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window_container {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title{
    font-size:14pt;
    font-weight:bold;

}
.message_content{

}
