.navbar_container {
    height: 50px;
    background-color: #3D4043;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    right:0;

}
.navbar_body {
    height: 50px;
    width:100%;
}


.nabar_brand {
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
}
