@inject NavigationManager NavigationManager;

<div class="navbar_body"/>
<div class="navbar_container">
    <a href="#" class="nabar_brand">
        @Title
    </a>
    <div class="navbar_menu">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Title";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
