@page "/About"

<div class="about_container">
    <span class="about_header">Контакты</span>

    <a class="about_item" href="https://github.com/Koleshkov">
        <span class="fa-brands fa-github">GitHub</span>
        <span class="about_title">GitHub</span>
    </a>
    <a class="about_item" href="https://t.me/koleshkov">
        <span class="fa-brands fa-telegram"></span>
        <span class="about_title">Telegram</span>
    </a>
    <a class="about_item" href="mailto:koleshkov@outlook.com">
        <span class="fa-solid fa-envelope"></span>
        <span class="about_title">Email</span>
    </a>

    <span class="about_footer">Evgenii Koleshkov, 2022</span>
</div>
