@page "/SendingList"


<label class="form_title">Список рассылки</label>
<div class="input_group">
    <label class="title">Карты наблюдения пассажира</label>
    <div class="form-control">
        <label>coord-transport@isnnb.rosneft.ru;</label>
        <br>
        <label>coord-people.ung@isnnb.rosneft.ru;</label>
        <br>
        <label>coord-people.ung2@isnnb.rosneft.ru;</label>
        <br>
        <label>passport@isnnb.rosneft.ru;</label>       
    </div>
</div>


